/* outfit-regular - latin */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/outfit/outfit-v11-latin-regular.woff2') format('woff2'),
        url('/fonts/outfit/outfit-v11-latin-regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

/* cormorant-garamond-regular - latin */
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/cormorant-garamond-v16-latin-regular.woff2') format('woff2'),
        url('/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit-Bold';
    src: url('/fonts/outfit/outfit-v11-latin-700.woff2') format('woff2'),
        url('/fonts/outfit/outfit-v11-latin-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

:root {
    --background-filter:rgba(31, 39, 50, 0.81);
    --color-white: rgba(255, 255, 255, 1);
    --color-btn-grey: rgba(255, 255, 255, 0.1);
    --color-gold: rgba(209, 176, 107, 1);
    --color-gold-outline: rgba(209, 176, 107, 0.5);
    --color-line: rgba(78, 85, 95, 1);
    --color-text-black: rgba(31, 39, 50, 1);
    --color-about-gray: rgba(59, 67, 78, 1);
    --color-btn-practice: rgba(22, 29, 39, 1);
    --color-text-description-grey: rgba(144, 144, 144, 1);
    --color-logo-grey: rgba(177, 177, 177, 1);
    --background-filter-weare:rgba(31, 39, 50, 0.85);
    --color-text-not-white: rgba(215, 215, 215, 1);
    --color-background-items: rgba(46, 57, 71, 1);
}

html {
    font-family: "Outfit";
    background: #161D27;
}

body {
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    /* outline: 2px solid white; */
    font-family: "Outfit", sans-serif;
    color: var(--color-white);
    background-image: url('/img/back-img.webp');
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
    margin: 0;
    text-transform: capitalize;
    font-family: "Cormorant Garamond";
    letter-spacing: 0.4px;
    color: var(--color-white);
    font-weight: 400;
}

h1 {
    font-size: 65px;
    line-height: 78px;
}

h2 {
    font-size: 45px;
    line-height: 58.5px; /* 130% */
}

h3 {
    font-size: 40px;
    line-height: 52px; /* 130% */
}

h4 {
    font-size: 35px;
    line-height: 56px; /* 160% */
}

h5 {
    font-size: 30px;
    line-height: 42px; /* 140% */
}

.text-center {
    text-align: center;
}

.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

button {
    height: 85px;
    padding: 24px 71px 25px 71px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    border-radius: 0;
    border: none;
    border-radius: 3px;
    text-wrap: nowrap;
}

button:hover,
button:focus,
input:focus,
textarea:focus,
a:focus {
    outline: 3px solid var(--color-gold-outline);
}

button:hover {
    box-shadow: 0 0 20px var(--color-gold);
    transition: box-shadow 0.4s ease;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    color: var(--color-white);
    /* outline: 2px solid red; */
}

.gold {
    color: var(--color-gold);
}

.button-gold {
    color: var(--color-text-black);
    background-color: var(--color-gold);
}

.flex-vbs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

/* Header */
.header-up {
    padding-top: 42px;
    padding-bottom: 48px;
}

.menu__btn {
    display: none;
    width: 55px;
    height: 45px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    border-radius: 0;
}

.menu__btn span {
    height: 2px;
    background-color: var(--color-gold);
    width: 100%;
}

.header-logo {
    width: 400px;
    height: 79px;
}

.header-up,
.header-down,
.header-list,
.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal; /* for address */
}

.header-up,
.header-down {
    width: 100%;
}

.header-down {
    padding-top: 26px;
    padding-bottom: 29px;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
}

.header-list {
    gap: 48px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-gold);
    transition: color 0.3s ease-in;
}

.header-link {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0.4px;
    position: relative;
    text-wrap: nowrap;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header-icon {
    width: 62px;
    height: 62px;
    margin-right: 12px;
    padding-top: 22px;
    border-radius: 50%;
    border: 2px solid var(--color-gold);
    text-align: center;
}

.header-contacts__link:hover .header-icon {
    background-color: var(--color-gold);
    box-shadow: 0 0 20px var(--color-gold);
    transition: background-color 0.3s linear;
}

.header-contacts__link:hover .header-icon > .header-icon__inner {
    fill: var(--color-white);
}

.header-icon__inner {
    width: 17px;
    height: 17px;
    fill: var(--color-gold);
}

.header-link__inner {
    color: var(--color-white);
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px; /* 120% */
    letter-spacing: 0.4px;
}

.header-btn {
    color: var(--color-white);
    background-color: var(--color-btn-grey);
}

/* Hero */
.hero-container {
    max-height: 728px;
    margin-bottom: 139px;
    display: flex;
    justify-content: space-between;
    flex-basis: 49%;
}

.hero-left {
    width: 50%;
}

.hero-left {
    padding-top: 168px;
    padding-bottom: 170px;
    position: relative;
}

.hero-title::before {
    content: url('/img/sign.svg');
    position: absolute;
    left: 0;
    top: 13%;
}

.hero-text {
    max-width: 655px;
    margin-top: 21px;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: 400;
    line-height: 39.6px; /* 180% */
    letter-spacing: 0.4px;
}

.hero-right {
    min-width: 672px;
    padding-top: 20px;
}

/* About */
.about-container {
    margin-bottom: 173px;
    padding-top: 10px;
    padding-left: 529px;
    position: relative;
}

.about-img__up {
    position: absolute;
    left: 0;
    top: 0;
}

.about-img__down {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-text {
    margin-top: 98px;
    position: relative;
}

.about-text::before {
    content: url('/img/sign.svg');
    top: -85px;
    left: 0;
    position: absolute;
}

.about-name {
    margin-top: 51px;
    margin-bottom: 64px;
    margin-left: 110px;
    position: relative;
}

.about-name::before {
    content: url('/img/about/piter-ava.webp');
    left: -110px;
    top: -19px;
    bottom: 0;
    position: absolute;
}

.about-set {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.about-set__block:first-child {
    width: 315px;
    height: 128px;
    padding: 30px 50px 39px 128px;
    position: relative;
    background-color: var(--color-about-gray);
    border-radius: 3px;
}

.about-set__block > * {
    display: block;
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px; /* 130% */
    letter-spacing: 0.4px;
}

.about-set__block span:first-child::before {
    content: url('/img/about/doc.svg');
    position: absolute;
    left: 50px;
    top: 35px;
    bottom: 0;
}

.about-set__block:last-child {
    padding: 30px 50px 39px 151px;
    position: relative;
    background-color: var(--color-gold);
    border-radius: 3px;
}

.about-set__block:last-child span::before {
    content: '35+';
    padding-top: 11px;
    padding-left: 15px;
    width: 81px;
    height: 59px;
    position: absolute;
    left: 40px;
    top: 35px;
    bottom: 0;
    color: var(--color-white);
    background-color: rgba(22, 29, 39, 1);
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
    text-align: center;
    box-sizing: border-box;
}

/* Practice */
.practice-container {
    padding-top: 130px;
    padding-bottom: 15px;
    margin-bottom: 110px;
}

.practice-head {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.practice-head > * {
    max-width: 50%;
}

.practice-title {
    margin-bottom: 55px;
    position: relative;
}

.practice-title::after {
    position: absolute;
    content: url('/img/sign.svg');
    bottom: -65px;
    left: 0;
}

.practice-text {
    margin: 0;
}

.practice-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.practice-item {
    padding: 55px 50px 70px 50px;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-text-black);
    border-radius: 3px;
}

.practice-title__small {
    margin-top: 0;
    margin-bottom: 8px;
    text-wrap: nowrap;
}

.practice-title__small + p {
    margin-bottom: 28px;
}

.practice-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    border-top: 1px solid var(--color-line);
}

.practice-btn {
    width: 187px;
    height: 58px;
    margin-left: 15px;
    padding: 13px 32px;
    background-color: var(--color-btn-practice);
    color: var(--color-white);
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

/* Deserve */
.deserve {
    background-color: var(--color-white);
}

.deserve-container {
    padding-top: 124px;
    padding-bottom: 81px;
}

.deserve-item__title {
    color: var(--color-text-black);
}

.deserve-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
    max-width: 35%;
    color: var(--color-text-black);
    position: relative;
}

.deserve-title::after {
    content: url('/img/sign-evenly.svg');
    bottom: -61px;
    left: 0;
    right: 0;
    position: absolute;
}

.deserve-text {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    color: var(--color-text-description-grey);
}

.deserve-list,
.deserve-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deserve-list {
    flex-wrap: wrap;
    gap: 30px;
}

.deserve-item {
    flex: 1 1 31%;
    min-height: 180px;
    padding: 30px;
    background-color: #FBFBFB;
    color: var(--color-text-black);
    position: relative;
    border-radius: 4px;
}

.deserve-item:last-child {
    color: var(--color-white);
    background-image: url('/img/deserve/femida.webp');
    background-repeat: no-repeat;
}

.deserve-item__box {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    padding: 50px 24px 31px 25px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    font-family: "Outfit", sans-serif;
    border: 2px solid var(--color-gold);
    position: relative;
    border-radius: 4px;
}

.star::before,
.deserve-item__box::before {
    content: url('/img/deserve/like.svg');
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
}

.star::before {
    content: url('/img/deserve/star.svg');
}

.deserve-item__description {
    color: var(--color-text-description-grey);
    max-width: 55%;
}

.deserve-fix {
    font-family: "Outfit", sans-serif;
    color: var(--color-white);
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 0.4px;
}

.deserve-fix + .deserve-item__description {
    margin-top: 10px;
    color: var(--color-white);
    max-width: 75%;
}

/* Meet */

.meet {
    background-color: var(--color-white);
}

.meet-title {
    margin-bottom: 60px;
    color: var(--color-text-black);
    position: relative;
}

.meet-title::before,
.meet-title::after {
    content: url('/img/sign-big.svg');
    position: relative;
    top: 30px;
}

.meet-title::before {
    left: -40px;
}

.meet-title::after {
    right: -40px;
}

.meet-container {
    padding: 80px 68px 130px 61px;
}

.meet-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.meet-logo {
    fill: var(--color-logo-grey);
}

.meet-logo:hover {
    fill: var(--color-gold);
}

/* We-are */
.weare {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url('/img/we-are/we-are.webp');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.weare-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px 70px 60px;
    background-color: var(--background-filter-weare);
}

.weare-left {
    max-width: 418px;
    height: 100%;
}

.weare-left__list {
    margin: 0;
}

.weare-right {
    max-width: 383px;
    height: 100%;
    padding-bottom: 35px;
}

.wear-right__item > * {
    display: block;
    width: 100%;
}

.ui-widget.ui-widget-content {
    border: none;
    height: 5px;
}

.ui-widget-content {
    color:var(--color-gold)
}

.ui-progressbar {
    overflow: visible;
}

.ui-widget-header {
    border: none;
    background:var(--color-gold);
}

.weare-right__list {
    margin-bottom: 55px;
}

.weare-right__item:not(:last-child) {
    margin-bottom: 40px;
}

.weare-right__item {
    position: relative;
}

.weare-right__item:nth-child(1):after,
.weare-right__item:nth-child(2):after,
.weare-right__item:nth-child(3):after,
.weare-right__item:nth-child(4):after {
    content: '75%';
    right: 0;
    top: 5px;
    position: absolute;
    font-size: 20px;
    color: var(--color-text-not-white);
    font-weight: 400;
}

.weare-right__item:nth-child(2):after {
    content: '80%';
}

.weare-right__item:nth-child(4):after {
    content: '90%';
}

.weare-lable {
    margin-bottom: 5px;
}

.weare-title {
    padding-bottom: 55px;
    margin-bottom: 50px;
    position: relative;
}

.weare-title::after {
    position: absolute;
    content: url('/img/sign.svg');
    bottom: -11px;
    left: 0;
}

.weare-lable,
.weare-title__small,
.weare-text {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    color: var(--color-text-not-white)
}

.weare-title__small {
    line-height: 1;
    color: var(--color-gold);
}

.weare-text {
    margin-top: 13px;
    margin-bottom: 35px;
}

.weare-text-right {
    margin-bottom: 43px;
}

/* Opinioms */
.opinions-container {
    padding-top: 124px;
    padding-bottom: 140px;
}

.opinions-title {
    color: var(--color-white);
    text-wrap: nowrap;
}

.opinions-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 29px;
}

.opinions-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.opinions-item:nth-child(2n) {
    flex-direction: column-reverse;
}

.opinions-item:nth-child(2n) > .opinions-text {
    border-radius: 2px;
    border-top-left-radius: 40px;
    padding: 135px 47px 57px 45px;
}

.opinions-item:nth-child(2n) > .opinions-text::before {
    top: 182px;
}

.opinions-text {
    max-width: 313px;
    padding: 110px 51px 57px 45px;
    box-sizing: border-box;
    background-color: var(--color-background-items);
    border-radius: 2px;
    border-bottom-left-radius: 40px;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.opinions-text::before {
    position: absolute;
    content: url('/img/opinions/double-quote.svg');
    top: 77px;
    left: 45px;
}

.opinions-set {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.opinions-ava {
    margin-right: 22px;
}

.opinions-name {
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
}

.opinions-post {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

/* Unswer */
.answer {
    background-color: var(--color-white);
}

.answer-container {
    padding-top: 124px;
    padding-bottom: 131px;
}

.answer-title {
    max-width: 692px;
}

.unswer-social__list,
.unswer-social__item,
.answer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unswer-item {
    text-align: center;
}

.unswer-item:hover > .unswer-content{
    opacity: 1;
    transition: opacity .4s ease;
}

.unswer-name {
    margin-top: 20px;
    color: var(--color-btn-practice);
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
}

.unswer-content {
    opacity: 0;
}

.unswer-social__list {
    max-width: 217px;
    height: 66px;
    margin: 0 auto;
    padding: 0 21px;
    padding-right: 0;
    gap: 21px;
    position: relative;
    top: -147px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
}

.unswer-social__list::after { 
    content: '';
    height: 1px;
    flex-shrink: 0;
    background-color: var(--color-gold); /* gold line */
    bottom: -34px;
    left: -140px;
    right: 0;
    position: relative;
}

.unswer-icon {
    width: 21px;
    height: 21px;
}

.unswer-icon:hover {
    fill: var(--color-gold);
    transition: fill 0.2s linear;
}

/* Consultation */
.consultation-container {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consultation-left {
    max-width: 638px;
    padding: 10px 53px 10px 0;
    min-height: 490px;
}

.consultation-title__right {
    color: var(--color-text-black);
    font-family: "Cormorant Garamond";
    font-size: 42px;
    font-weight: 400;
    line-height: 54.6px; /* 130% */
    letter-spacing: 0.2px;
}

.consultation-text {
    margin-top: 43px;
    margin-bottom: 37px;
    color: var(--color-text-not-white);
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.consultation-text__right {
    margin-top: 12px;
    margin-bottom: 37px;
    color: var(--color-text-description-grey);
}

.consultation-right {
    max-width: 630px;
    padding: 40px;
    background-color: var(--color-white);
}

.consultation-inner{
    padding: 50px 69px 60px 40px;
    border: 15px solid #D7D7D7;
}

.consultation-link {
    max-width: 288px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.consultation-icon {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    padding: 22px 21px;
    background-color: var(--color-gold);
}

.consultation-link:hover > .consultation-icon {
    box-shadow: 0 0 20px var(--color-gold);
    transition: box-shadow 0.3s linear;
}

.consultation-icon__inner {
    width: 27px;
    height: 27px;
    fill: var(--color-white);
}

.consultation-number,
.consultation-call {
    color: var(--color-text-black);
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
    letter-spacing: 0.4px;
}

.consultation-number {
    font-size: 30px;
    line-height: 42px; /* 140% */
}

/* Appointment */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid var(--color-about-gray);
  -webkit-text-fill-color: var(--color-gold);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-text-black) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.appointment {
    padding: 140px 0;
    background-image: url('/img/form-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.appointment-container {
    padding: 100px 100px 95px 100px;
    background-color: var(--color-text-black);
}
.appointment-form__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.appointment-form__item {
    margin-bottom: 37px;
    position: relative;
    max-width: 48%;
    flex: 1 1 557px;
}

.appointment-form__message {
    max-width: 100%;
}

.appointment-lable {
    position: absolute;
    top: -28px;
    left: 0;
}

.appointment-input {
    width: 100%;
    height: 37px;
    margin-bottom: 49px;
    padding-bottom: 1px;
    color: var(--color-gold);
    background: transparent;
    flex-shrink: 0;
}

input:invalid + label{
    color: var(--color-line);
}

.appointment-input,
.appointment-message {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-about-gray);
}

.appointment-lable {
    color: var(--color-white);
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 21.6px; /* 86.4% */
    letter-spacing: 0.4px;
}

.appointment-input,
.appointment-message {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.appointment-message {
    margin: 0;
    padding: 2px 7px;
    height: 108px;
    color: var(--color-gold);
    resize: none;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
}

.appointment-btn {
    display: block;
    margin: 49px auto 10px;
    font-family: "Outfit-Bold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 21.6px; /* 86.4% */
    letter-spacing: 0.4px;
}

/* Blogs */
.blogs-container {
    margin-top: 129px;
    margin-bottom: 40px;
    padding: 10px 0;
}

.blogs-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
}

.blogs-item {
    flex: 1 1 32%;
    min-height: 722px;
    margin-bottom: 99px;
    position: relative;
    padding-bottom: 52px;
}

.blogs-item:first-child {
    min-height: 546px;
    padding-bottom: 100px;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-line);
    gap: 0 50px;
}

.blogs-item:first-child > .blogs-content > .blogs-link {
    position: static;
}

.blogs-item:first-child > picture > img{
    width: 655px;
    height: auto;
}

.blogs-item:first-child > .blogs-content {
    max-width: 646px;
    padding: 63px 9px 59px 0;
}

.blogs-item:first-child > .blogs-content > .blogs-title__inner {
    padding-right: 142px;
    font-family: "Cormorant Garamond";
    font-size: 45px;

    font-weight: 400;
    line-height: 58.5px; /* 130% */
    letter-spacing: 0.4px;
 }

.blogs-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-line);
    
}

.blogs-date,
.blogs-category {
    font-family: "Outfit", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 33.6px; /* 160% */
    letter-spacing: 0.4px;
    text-wrap: nowrap;
}

.blogs-date:hover,
.blogs-category:hover {
    text-decoration: underline;
}

.blogs-category {
    margin-right: 21px;
    padding-right: 20px;
    border-right: 1px solid var(--color-gold);
}

.blogs-title__inner {
    margin-top: 26px;
    margin-bottom: 22px;
    color: var(--color-white);
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
}

.blogs-description {
    margin-top: 0;
    margin-bottom: 17px;
    color: var(--color-text-not-white);
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    text-overflow: ellipsis;
}

.blogs-link {
    text-decoration: underline;
    text-transform: capitalize;
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px; /* 160% */
    letter-spacing: 0.4px;
    position: absolute;
    bottom: 0;
}

/* Dekor */
.dekor-container {
    height: 248px;
}

.dekor {
    background-image: url('/img/dekor-img.webp');
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
}

/* Footer */
.footer-contaimer {
    padding-top: 130px;
    padding-bottom: 40px;
}

.footer-logo {
    margin-bottom: 95px;
    display: flex;
    text-align: center;
    align-items: center;
    overflow-x: clip;
}

.footer-logo__link {
    height: 79px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo__link::before {
    content: url('/img/footer-sign-l.svg');
    position: absolute;
    top: 38px;
    left: -523px;
    bottom: 0;
}

.footer-logo__link::after {
    content: url('/img/footer-sign-r.svg');
    position: absolute;
    top: 38px;
    right: -523px;
    bottom: 0;
}

.footer-list {
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.footer-title {
    margin-bottom: 39px;
    padding: 21px 0;
    color: var(--color-white);
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
    text-wrap: nowrap;
}

.first-list__wrap {
    min-width: 323px
}

.first_list {
    column-count: 2;
    column-gap: 79px;
    text-wrap: nowrap;
}

.footer-item__list {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.footer-item:nth-child(2),
.footer-item:nth-child(3){
    min-width: 184px;
}

.footer-item__inner {
    margin-bottom: 20px;
}

.footer-link:hover {
    color: var(--color-gold);
    transition: color 0.3s linear;
}

.footer-adress {
    font-style: normal;
}

.footer-adress,
.footer-link {
    color: var(--color-white);
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}
.footer-copiright {
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
}

.footer-item__list-adress {
    padding: 0;
}

.footer-geo {
    font-size: 20px;
    font-weight: 400;
    line-height: 48px; /* 240% */
    letter-spacing: 0.4px;
    margin-bottom: 70px;
}

.footer-copiright,
.footer-copiright > small {
    padding-top: 24px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.footer-social {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.footer-social > .gold {
    margin-right: 20px;
}

.footer-social__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-icon__inner {
    width: 21px;
    height: 20px;
    fill: var(--color-white);
}

.footer-icon__inner:hover {
    fill: var(--color-gold);
    transition: fill 0.2s linear;
}

@media (max-width:1244px) {
    /* Deserve */
    .deserve-item {
        max-width: 388px;
    }
}

@media (max-width:1124px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 30px;
    }

    /* Header */
    .header-down {
        flex-wrap: wrap;
    }

    .header-icon {
        display: none;
    }

    /* Hero */
    .hero-left,
    .hero-right {
        max-width: 50%;
    }
}

@media (max-width:1024px) {
    /* Hero */
    .hero-container {
        max-height: 762px;
        margin-bottom: 70px;
    }

    .hero-left {
        padding-top: 58px;
        padding-bottom: 170px;
        position: static;
    }

    .hero-title {
        position: relative;
        margin-bottom: 31px;
    }
    
    .hero-title::before {
        content: url('/img/sign-evenly-small.svg');
        top: auto;
        bottom: 0;
        width: 5px;
        height: 5px;
        object-fit: contain;
    }

    /* About */
    .about-container {
        margin-bottom: 73px
    }

    .about-name {
        display: none;
    }

    .about-text::before {
        content: url('/img/sign.svg');
        top: -65px;
        left: 0;
        position: absolute;
    }

    /* Practice */
    .practice-container {
        margin-bottom: 60px;
        padding-top: 70px;
    }

    /* Deserve */
    .deserve-item__title {
        font-size: 20px;
        line-height: 1;
    }
    .deserve-item__description {
        display: none;
    }
    .deserve-visible {
        display: inline;
    }

    /* Weare */
    .weare-container {
        display: block;
        text-align: center;
    }

    .weare-container > * {
        margin-left: auto;
        margin-right: auto;
    }

    .weare-img {
        display: none;
    }
    .weare-title {
        text-align: center;
    }

    .weare-title::after {
        content: url('/img/sign-evenly.svg');
        bottom: -20px;
        left: 0;
        right: 0;
    }

    /* Answer */
    .answer-container {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    /* Blogs */
    .blogs-item:first-child > .blogs-content > .blogs-title__inner {
        font-size: 35px;
        line-height: 1; /* 130% */
     }

     /* Footer */
     .footer-item {
        margin-left: auto;
        margin-right: auto;
     }

     .footer-copiright {
        flex-wrap: wrap;
        text-align: center;
     }
}

@media (max-width:932px) {
    .header-link__inner {
        display: none;
    }

    .header-icon {
        display: inline-block;
    }

    .header-down {
        display: flex;
        justify-content: space-between;
    }

    .header-list {
        justify-content: space-between;
    }

}

@media (max-width:900px) {
    body {
        background-image: url('/img/html-background.webp');
    }

    h1 {
        font-size: 65px;
    }

    /* Header */
    .header {
        background-color: var(--background-filter);
    }

    .header-logo {
        width: 300px;
        height: 79px;
    }

    /* Hero */
    .hero-container {
        height: 729px;
        display: block;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-vbs,
    .hero-left {
        display: block;
        width: 70% !important;
    }

    .hero-left {
        padding-top: 150px;
        padding-bottom: 90px;
    }

    .hero-text {
        color: var(--color-white);
    }

    .hero-title {
        margin-bottom: 55px;
    }

    .hero-title::before {
        content: url('/img/sign-evenly.svg');
        top: auto;
        bottom: 0;
        left: 41%;
        width: 5px;
        height: 5px;
        object-fit: contain;
    }
}

@media (max-width:768px) {
    h2 {
        font-size: 30px;
        line-height: 38.5px; /* 130% */
    }

    button {
        height: 75px;
        padding: 20px 61px 20px 61px;
    }
    
    /* Header */
    .menu__btn {
        display: flex;
    }
    
    .header-nav {
        position: relative;
    }

    .header-list {
        width: 100vw;
        background-color: var(--background-filter);
        gap: 25px;
        padding: 25px;
        position: absolute;
        top: 66px;
        left: -10px;
        opacity: 0;
        transition: opacity .3s ease-in;
    }

    .header-list.menu--open {
        opacity: 1;
    }

    .header-contacts {
        margin-left: auto;
    }

    /* hero */
    .hero-left {
        padding-top: 100px;
    }

    /* About */
    .about-container {
        padding-left: 0;
        padding-top: 300px;
        margin-bottom: 80px;
    }

    .about-text::before {
        display: none;
    }

    .about-title {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        text-align: center;
        position: relative;
    }

    .about-title::after {
        content: url('/img/sign-evenly.svg');
        position: absolute;
        left: 0;
        right: 0;
        bottom: -75px;
    }

    .about-img__up {
        max-width: 49%;
    }

    .about-img__down {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        max-width: 49%;
    }

    /* Deserve */
    .deserve-item {
        margin-left: auto;
        margin-right: auto;
    }

    /* Meet */
    .meet-list {
        gap:0 50px
    }

    .meet-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
    
    /* Opinioms */
    .opinions-list {
        flex-wrap: wrap;
        gap: 29px 29px;
    }

    .opinions-item {
        flex: 1 1 47%;
    }

    /* Blogs */
    .blogs-container {
        margin-bottom: 0;
    }

    .blogs-item:first-child {
        display: block;
        padding-bottom: 0;
    }

    .blogs-item:first-child > picture > img{
        width: 100%;
    }
    
    /* Footer */
    .footer-contaimer {
        padding-top: 0;
    }

    .footer-logo {
        margin-bottom:70px;
    }

    .footer-copiright,
    .footer-copiright > small {
        padding-top: 24px;
        padding-bottom: 28px;
        font-size: 14px;
        line-height: 20px; /* 160% */
        letter-spacing: 0.2px;
}
}

@media (max-width:666px) {
    /* Answer */
    .answer-list {
        display: block;
    }

    .unswer-content {
        opacity: 1;
    }

    /* Appointment */
    .appointment-form__inner {
        display: block;
        min-width: 100%;
    }

    .appointment-form__item {
        min-width: 100%;
    }
}

@media (max-width:522px) {
    h1 {
        font-size: 45px;
    }
    /* Heaser */
    .hero-left {
        padding-top: 50px;
    }
}

@media (max-width:425px) {
    h2 {
        font-size: 32px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Header */
    .header-btn {
        display: none;
    }

    .header-down {
        display: none;
    }

    .header-logo {
        width: 80%;
    }

    /* Hero */
    .hero-left {
        margin-left: 0;
        margin-right: 0;
        width: 425px !important;
        padding-top: 170px;
    }

    .hero-title::before {
        top: 165px;
    }

    /* About */
    .about-img__down,
    .about-img__up {
        display: none;
    }

    .text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-container {
        margin-top: 80px;
        padding-top: 70px;
        margin-bottom: 80px;
    }

    .about-title {
        min-width: 100%;
        text-align: center;
    }

    .about-text::before {
        top: -70px;
        left: 0;
    }

    .about-set__right,
    .about-set__left {
        min-width: 100%;
    }

    .practice-head {
        display: block;
    }

    .practice-head > * {
        max-width: 100%;
    }

    .practice-title {
        text-align: center;
    }

    /* Practice */
    .practice-title::after {
        content: url('/img/sign-evenly.svg');
        bottom: -65px;
        left: 0;
        right: 0;
    }

    /* Deserve */
    .text-center {
        min-width: 100%;
    }

    /* Meet */
    .meet-list {
        display: block;
        text-align: center;
    }

    .meet-title {
        margin-bottom: 75px;
    }

    .meet-title::before {
        display: none;
    }

    .meet-title::after {
        content: url('/img/sign-evenly.svg');
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    /* Opinioms */
    .opinions-list {
        display: block;
    }

    .opinions-item {
        width: 425px;
        margin: 7%;
    }

    /* Consultation */
    .consultation-container {
        display: block;
    }

    .consultation-left {
        text-align: center;
        padding-right: 0;
    }

    .consultation-inner{
        padding: 25px 34px 30px 20px;
        border: 10px solid #D7D7D7;
    }
    
    .consultation-title__right {
        font-size: 32px;
        line-height: 1;
    }

    .consultation-right {
        max-height: 500px !important;
        padding: 20px;
    }

    .consultation-number {
        font-size: 14px;
        line-height: 1;
    }

    /* Dekor */

    .dekor {
        display: none;
    }

    /* Footer */
    .footer-logo,
    .footer-logo__link,
    .footer-logo__img {
        height: 40px;
    }

    .footer-logo__link::after,
    .footer-logo__link::before {
        content: url('/img/sign-evenly-small.svg');
        left: 0;
        right: 0;
        top: 10px;
        bottom: 0;
    }

    .footer-logo__link::before{
        left: -257px;
    }

    .footer-logo__link::after {
        right: -257px;
    }

    .footer-list {
        display: block;
    }

    .footer-item {
        text-align: center;
    }

}

@media (max-width:375px) {
    /* Header */
    .header-logo {
        width: 60%;
    }

}

@media (max-width:320px) {
    /* Appointment */
    .appointment-btn {
        width: 100%;
    }

}