:root {
    --background-filter:rgba(31, 39, 50, 0.81);
    --color-white: rgba(255, 255, 255, 1);
    --color-btn-grey: rgba(255, 255, 255, 0.1);
    --color-gold: rgba(209, 176, 107, 1);
    --color-line: rgba(78, 85, 95, 1);
    --color-text-black: rgba(31, 39, 50, 1);
}

html {
    font-family: "Outfit", sans-serif;
    background: #161D27;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid white;
    font-family: "Outfit", sans-serif;
    color: var(--color-white);
    background-image: url('/img/html-background.png');
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 65px;
    font-weight: 400;
    font-family: "Cormorant Garamond", serif;
    /* line-height: 78px; */
    /* letter-spacing: 0.4px; */
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

button {
    height: 85px;
    padding: 24px 71px 25px 71px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    border-radius: 0;
    border: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    color: var(--color-white);
    outline: 2px solid red;
}

.gold {
    color: var(--color-gold);
}

.button-gold {
    color: var(--color-text-black);
    background-color: var(--color-gold);
}

.flex-hbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-vbs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

/* Header */
.header {
    background-color: var(--background-filter);
}

.header-container {
    background-color: var(--background-filter);
}

.header-up,
.header-down,
.header-list,
.header-contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-up,
.header-down {
    width: 100%;
}

.header-up {
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.header-down {
    padding-top: 26px;
    padding-bottom: 29px;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
}

.header-list {
    gap: 48px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-gold);
    transition: color 0.3s ease-in;
}

.header-link {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0.4px;
    position: relative;
}

.header-link img {
    position: absolute;
    top: 0;
    left: -74px;
}

.header-link > .gold-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.4px;
}

.header-contacts__list {
    gap: 124px;
}

.header-social {
    margin-right: 19px;
}

.header-btn {
    color: var(--color-white);
    background-color: var(--color-btn-grey);
}

/* Hero */
.hero {
    background-color: var(--background-filter);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 49%;
    flex-wrap: wrap;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero-left {
    margin-top: 168px;
    margin-bottom: 170px;
}

.hero-text {
    max-width: 655px;
    margin-top: 21px;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: 400;
    line-height: 39.6px; /* 180% */
    letter-spacing: 0.4px;
}

.hero-right {
    min-width: 672px;
    padding-top: 20px;
}