:root {
    --background-filter:rgba(31, 39, 50, 0.81);
    --color-white: rgba(255, 255, 255, 1);
    --color-btn-grey: rgba(255, 255, 255, 0.1);
    --color-gold: rgba(209, 176, 107, 1);
    --color-line: rgba(78, 85, 95, 1);
    --color-text-black: rgba(31, 39, 50, 1);
    --color-about-gray: rgba(59, 67, 78, 1);
    --color-btn-practice: rgba(22, 29, 39, 1);
    --color-text-description-grey: rgba(144, 144, 144, 1);
    --color-logo-grey: rgba(177, 177, 177, 1);
    --background-filter-weare:rgba(31, 39, 50, 0.85);
    --color-text-not-white: rgba(215, 215, 215, 1);
    --color-background-items: rgba(46, 57, 71, 1);
}

html {
    font-family: "Outfit", sans-serif;
    background: #161D27;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid white;
    font-family: "Outfit", sans-serif;
    color: var(--color-white);
    background-image: url('/img/html-background.png');
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 65px;
    font-weight: 400;
    font-family: "Cormorant Garamond", serif;
}

h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 400;
    line-height: 58.5px; /* 130% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-family: "Cormorant Garamond", serif;
}

h3 {
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 400;
    line-height: 52px; /* 130% */
    letter-spacing: 0.4px;
}

h4 {
    color: #FFF;
    font-family: "Cormorant Garamond";
    font-size: 35px;
    font-weight: 400;
    line-height: 56px; /* 160% */
    letter-spacing: 0.4px;
}

h5 {
    margin: 0;
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 140% */
    letter-spacing: 0.4px;
}

.text-center {
    text-align: center;
}

.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

button {
    height: 85px;
    padding: 24px 71px 25px 71px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    border-radius: 0;
    border: none;
    border-radius: 3px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-white);
    outline: 2px solid red;
}

.gold {
    color: var(--color-gold);
}

.button-gold {
    color: var(--color-text-black);
    background-color: var(--color-gold);
}

.flex-hbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-vbs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

/* Header */
.header {
    background-color: var(--background-filter);
}

.header-container {
    background-color: var(--background-filter);
}

.header-up,
.header-down,
.header-list,
.header-contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-up,
.header-down {
    width: 100%;
}

.header-up {
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.header-down {
    padding-top: 26px;
    padding-bottom: 29px;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
}

.header-list {
    gap: 48px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-gold);
    transition: color 0.3s ease-in;
}

.header-link {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0.4px;
    position: relative;
}

.header-link img {
    position: absolute;
    top: 0;
    left: -74px;
}

.header-link > .gold-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.4px;
}

.header-contacts__list {
    gap: 124px;
}

.header-social {
    margin-right: 19px;
}

.header-btn {
    color: var(--color-white);
    background-color: var(--color-btn-grey);
}

/* Hero */
.hero {
    background-color: var(--background-filter);
}

.hero-container {
    margin-bottom: 139px;
    display: flex;
    justify-content: space-between;
    flex-basis: 49%;
    flex-wrap: wrap;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero-left {
    padding-top: 168px;
    padding-bottom: 170px;
    position: relative;
}

.hero-title::before {
    content: url('/img/sign.svg');
    position: absolute;
    left: 0;
    top: 13%;
}

.hero-text {
    max-width: 655px;
    margin-top: 21px;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: 400;
    line-height: 39.6px; /* 180% */
    letter-spacing: 0.4px;
}

.hero-right {
    min-width: 672px;
    padding-top: 20px;
}

/* About */
.about-container {
    margin-bottom: 173px;
    padding-top: 10px;
    padding-left: 529px;
    /* padding-bottom: 33px; */
    position: relative;
}

.about-img__up {
    position: absolute;
    left: 0;
    top: 0;
}

.about-img__down {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-text {
    margin-top: 98px;
    position: relative;
}

.about-text::before {
    content: url('/img/sign.svg');
    top: -85px;
    left: 0;
    position: absolute;
}

.about-name {
    margin-top: 51px;
    margin-bottom: 64px;
    margin-left: 110px;
    position: relative;
}

.about-name::before {
    content: url('/img/about/piter-ava.png');
    left: -110px;
    top: -19px;
    bottom: 0;
    position: absolute;
}

.about-set {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.about-set__block:first-child {
    width: 315px;
    height: 128px;
    padding: 30px 50px 39px 128px;
    position: relative;
    background-color: var(--color-about-gray);
    border-radius: 3px;
}

.about-set__block > * {
    display: block;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px; /* 130% */
    letter-spacing: 0.4px;
}

.about-set__block span:first-child::before {
    content: url('/img/about/doc.svg');
    position: absolute;
    left: 50px;
    top: 35px;
    bottom: 0;
}

.about-set__block:last-child {
    padding: 30px 50px 39px 151px;
    position: relative;
    background-color: var(--color-gold);
    border-radius: 3px;
}

.about-set__block:last-child span::before {
    content: '35+';
    padding-top: 11px;
    padding-left: 15px;
    width: 81px;
    height: 59px;
    position: absolute;
    left: 40px;
    top: 35px;
    bottom: 0;
    color: var(--color-white);
    background-color: rgba(22, 29, 39, 1);
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
    text-align: center;
    box-sizing: border-box;
}

/* Practice */
.practice-container {
    padding-top: 130px;
    padding-bottom: 15px;
    margin-bottom: 110px;
}

.practice-head {
    margin-bottom: 30px;
}

.practice-head > * {
    max-width: 50%;
}

.practice-title {
    margin-bottom: 55px;
    position: relative;
}

.practice-title::after {
    position: absolute;
    content: url('/img/sign.svg');
    bottom: -65px;
    left: 0;
}

.practice-text {
    margin: 0;
}

.practice-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.practice-item {
    max-width: 430px;
    max-height: 429px;
    padding: 55px 50px 70px 50px;
    background-color: var(--color-text-black);
    border-radius: 3px;
}

.practice-title__small {
    margin-top: 0;
    margin-bottom: 8px;
}

.practice-title__small + p {
    margin-bottom: 28px;
}

.practice-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    border-top: 1px solid var(--color-line);
}

.practice-btn {
    width: 187px;
    height: 58px;
    padding: 13px 32px;
    background-color: var(--color-btn-practice);
    color: var(--color-white);
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

/* Deserve */
.deserve {
    background-color: var(--color-white);
}

.deserve-container {
    padding-top: 124px;
    padding-bottom: 81px;
}

.deserve-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
    max-width: 35%;
    color: var(--color-text-black);
    position: relative;
}

.deserve-title::after {
    content: url('/img/sign-evenly.svg');
    bottom: -61px;
    left: 0;
    right: 0;
    position: absolute;
}

.deserve-text {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    color: var(--color-text-description-grey);
}

.deserve-list,
.deserve-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deserve-item {
    width: 32%;
    min-height: 180px;
    padding: 30px;
    background-color: #FBFBFB;
    color: var(--color-text-black);
    position: relative;
    border-radius: 4px;
}

.deserve-item:last-child {
    color: var(--color-white);
    background-image: url('/img/deserve/femida.png');
    background-repeat: no-repeat;
}

.deserve-item__title {
    text-wrap: nowrap;
}

.deserve-item__box {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    padding: 50px 24px 31px 25px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    font-family: "Outfit";
    border: 2px solid var(--color-gold);
    position: relative;
    border-radius: 4px;
}

.star::before,
.deserve-item__box::before {
    content: url('/img/deserve/like.svg');
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
}

.star::before {
    content: url('/img/deserve/star.svg');
}

.deserve-item__description {
    color: var(--color-text-description-grey);
    max-width: 55%;
}

.deserve-fix {
    font-family: "Outfit";
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 0.4px;
}

.deserve-fix + .deserve-item__description {
    margin-top: 10px;
    color: var(--color-white);
    max-width: 75%;
}

/* Meet */

.meet {
    background-color: var(--color-white);
}

.meet-title {
    margin-bottom: 60px;
    color: var(--color-text-black);
    position: relative;
}

.meet-title::before,
.meet-title::after {
    content: url('/img/sign-big.svg');
    position: relative;
    top: 30px;
    /* bottom: 0; */
}

.meet-title::before {
    left: -40px;
}

.meet-title::after {
    right: -40px;
}

.meet-container {
    padding: 80px 68px 130px 61px;
}

.meet-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meet-logo {
    fill: var(--color-logo-grey);
}

.meet-logo:hover {
    fill: var(--color-gold);
}

/* We-are */
.weare {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url('/img/we-are/we-are.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.weare-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px 70px 60px;
    background-color: var(--background-filter-weare);
}

.weare-left {
    max-width: 418px;
    height: 100%;
}

.weare-left__list {
    margin: 0;
}

.weare-right {
    max-width: 383px;
    height: 100%;
    padding-bottom: 35px;
}

.wear-right__item > * {
    display: block;
    width: 100%;
}

.ui-widget.ui-widget-content {
    border: none;
    height: 5px;
}

.ui-widget-content {
    color:var(--color-gold)
}

.ui-progressbar {
    overflow: visible;
}

.ui-widget-header {
    border: none;
    background:var(--color-gold);
}

.weare-right__list {
    margin-bottom: 55px;
}

.weare-right__item:not(:last-child) {
    margin-bottom: 40px;
}

.weare-right__item {
    position: relative;
}

.weare-right__item:nth-child(1):after,
.weare-right__item:nth-child(2):after,
.weare-right__item:nth-child(3):after,
.weare-right__item:nth-child(4):after {
    content: '75%';
    right: 0;
    top: 5px;
    position: absolute;
    font-size: 20px;
    color: var(--color-text-not-white);
    font-weight: 400;
}


.weare-right__item:nth-child(2):after {
    content: '80%';
}

.weare-right__item:nth-child(3):after {
    content: '75%';
}

.weare-right__item:nth-child(4):after {
    content: '90%';
}

.weare-lable {
    margin-bottom: 5px;
}

.weare-title {
    padding-bottom: 55px;
    margin-bottom: 50px;
    position: relative;
}

.weare-title::after {
    position: absolute;
    content: url('/img/sign.svg');
    bottom: -11px;
    left: 0;
}

.weare-lable,
.weare-title__small,
.weare-text {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    color: var(--color-text-not-white)
}

.weare-title__small {
    line-height: 1;
    color: var(--color-gold);
}

.weare-text {
    margin-top: 13px;
    margin-bottom: 35px;
}

.weare-text-right {
    margin-bottom: 43px;
}

/* Opinioms */
.opinions-container {
    padding-top: 124px;
    padding-bottom: 140px;
}

.opinions-title {
    color: var(--color-white);
    text-wrap: nowrap;
}

.opinions-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opinions-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.opinions-item:nth-child(2n) {
    flex-direction: column-reverse;
}

.opinions-item:nth-child(2n) > .opinions-text {
    border-radius: 2px;
    border-top-left-radius: 40px;
    padding: 135px 47px 57px 45px;
}

.opinions-item:nth-child(2n) > .opinions-text::before {
    top: 182px;
}

.opinions-text {
    max-width: 313px;
    padding: 110px 51px 57px 45px;
    box-sizing: border-box;
    background-color: var(--color-background-items);
    border-radius: 2px;
    border-bottom-left-radius: 40px;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.opinions-text::before {
    position: absolute;
    content: url('/img/opinions/double-quote.svg');
    top: 77px;
    left: 45px;
}

.opinions-set {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.opinions-ava {
    margin-right: 22px;
}

.opinions-name {
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px; /* 130% */
    letter-spacing: 0.4px;
}

.opinions-post {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}